body {
    background: linear-gradient(to right, #ff9966 , #ff5e62);
  }
  

h1{
    text-align: center;
    font-size: 50px;
}

  button {
    background-image: linear-gradient(to right, #ff9966 , #ff5e62);
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }  


.flashcard-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .flashcard {
    width: 700px;
    height: 500px;
    text-align: center;
    font-size: 30px;
    background-color: #f1f1f1;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
  }
  
  .question {
    font-weight: bold;
  }
  
  .answer {
    display: none;
  }
  
  .flashcard.show-answer .answer {
    display: block;
  }
  